

  <section>
  <mat-form-field>
    <mat-label  >Ciudad</mat-label>
    <mat-select  [(ngModel)]="ciudad" (ngModelChange)="onChangeCiudad(ciudad)" >
      <mat-option *ngFor="let unaciudad of listadeciudades"  [value]="unaciudad" >
        {{unaciudad}}
      </mat-option> 
    </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;
  <mat-checkbox class="example-margin" [(ngModel)]="incluirhistorico">Incluir histórico</mat-checkbox>

  &nbsp;&nbsp;
  <button mat-button mat-raised-button color="primary" (click)="submit()" >Consultar</button>

  <div *ngIf="enProceso">
    <br>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <br>
  </div>
   
</section>




<section>
    <mat-label>Ciudad:</mat-label>&nbsp;
    <mat-label>{{resulquery.city}}</mat-label><br>
    <mat-label>Clima:</mat-label>&nbsp;
    <mat-label>{{resulquery.temperature}} ºC - Sensación Térmica {{resulquery.feelsLike}} ºC</mat-label>
  </section>


<br>
<div *ngIf="incluirhistorico">
  <section>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Position Column -->
        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef> País </th>
          <td mat-cell *matCellDef="let element"> {{element.country}} </td>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="city">
          <th mat-header-cell *matHeaderCellDef> Ciudad </th>
          <td mat-cell *matCellDef="let element"> {{element.city}} </td>
        </ng-container>
      
        <!-- Weight Column -->
        <ng-container matColumnDef="temperature">
          <th mat-header-cell *matHeaderCellDef> Clima </th>
          <td mat-cell *matCellDef="let element"> {{element.temperature}}º </td>
        </ng-container>
      
        <!-- Symbol Column -->
        <ng-container matColumnDef="feelsLike">
          <th mat-header-cell *matHeaderCellDef> Sensación Térmica </th>
          <td mat-cell *matCellDef="let element"> {{element.feelsLike}}º </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </section>
</div>